- if resource.errors.any?
  #error_explanation{"data-turbo-temporary" => ""}
    -# %h2
    -#   = I18n.t("errors.messages.not_saved",                 |
    -#     count: resource.errors.count,                       |
    -#     resource: resource.class.model_name.human.downcase) |
    %ul.form_error.authentication_form_error
      - resource.errors.full_messages.each do |message|
        %li.form_error_message.authentication_form_error_message= message
