// mixin
@use 'base/variables' as var;

// アプリロゴ
@mixin app_icon($font-size: 18px) {
  width: calc(1.78 * $font-size);
  height: calc(1.78 * $font-size);
  font-size: $font-size;
  font-weight: var.$font-bold;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: var.$radius;
  background: var.$gradient-primary;
}

@mixin app_logo($font-size: 24px) {
  margin: 0;
  padding-bottom: calc(0.21 * $font-size);
  display: inline-block;
  font-size: $font-size;
  font-weight: var.$font-bold;
  line-height: 140%;
  letter-spacing: -0.02em;
  color: var.$color-primary;
  background: var.$gradient-primary;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
