.app_top_page_container

  = render 'common/app_top_title'

  .white_container.app_top_action
    = link_to '新規登録', new_user_registration_path, class: 'sign_up_button'
    = link_to 'ログイン', new_user_session_path, class: 'sign_in_button'

    .or_line
      .line
      %span.or または
      .line

    .guest-login-section
      = link_to 'ゲストとして利用する', users_guest_sign_in_path, data: { turbo_method: :post }, class: 'guest_login'
      %p 登録なしでアプリの使用感を体験できます

  .tips.app_top_points
    %ul
      %li
        %div
          %span.point_icon ✨
        %div
          .point_title 学習室の利用予定を可視化
          %p.point_message カレンダーで誰がいつ学習するか一目で分かる
      %li
        %div
          %span.point_icon 🤝
        %div
          .point_title 簡単アクションで予定に参加
          %p.point_message 「一緒に参加」ボタンをクリックするだけ
