.app_top_page_container

  = render 'common/app_top_title'

  .white_container.app_top_action
    %button.sign_up_button= link_to '新規登録', new_user_registration_path
    .or_line
      .line
      %span.or または
      .line
    %button.sign_in_button= link_to 'ログイン', new_user_session_path

  .tips.app_top_points
    %ul
      %li
        %div
          %span.point_icon ✨
        %div
          .point_title 学習室の利用予定を可視化
          %p.point_message カレンダーで誰がいつ学習するか一目で分かる
      %li
        %div
          %span.point_icon 🤝
        %div
          .point_title 簡単アクションで予定に参加
          %p.point_message 「一緒に参加」ボタンをクリックするだけ
