= month_calendar events: schedules do |date, schedules|

  = link_to url_for(start_date: date, about: date), data: { turbo_stream: true } do
    = date.day
    %div= todays_schedule_count(schedules, date) if schedules.count > 0
