%div{id: "participants_count_#{schedule.id}"}
  - count = schedule.participants.count
  .schedule_participants.day_schedule_participants{ class: count > 0 ? 'active' : nil }
    .schedule_participants_icon 👥
    %div= "#{count}人参加中"
