.container
  %p= @room.name
  = link_to '予定を作成', new_room_schedule_path(@room)

  %h2 学習予定カレンダー

  .room_schedules
    .schedule_calendar
      #month_calendar
        = render 'month_calendar', schedules: @schedules

    .day_schedules
      #day_calendar
        = render 'day_calendar', schedules: @schedules
