.room_home_container

  .room_home_left_container
    %h2.room_home_title
      %div 学習予定カレンダー
      %p 日付をクリックして詳細を確認

    %section.room_calendar_section
      .schedule_calendar
        #month_calendar
          = render 'month_calendar', schedules: @schedules

  .room_home_right_container
    .white_container.day_schedules_container
      #day_calendar
        = render 'day_calendar', schedules: @pickup_schedules

    .tips.room_home_tips
      .tips_title 💡 Tips
      %p.tips_message カレンダーの日付をクリックすると、その日の予定が表示されます

