.simple-calendar
  .calendar-heading
    %h3.calendar-title
      .day_calendar_accent
      %span= start_date == Time.zone.today ? '今日の学習予定' : "#{l(start_date, format: :short)}の学習予定"

  %table.table.table-striped
    %tbody
      - date_range.each_slice(7) do |week|
        = content_tag :tr, class: calendar.tr_classes_for(week) do
          - week.each do |day|
            = content_tag :td, class: calendar.td_classes_for(day) do
              - instance_exec(day, calendar.sorted_events_for(day), &passed_block)
