// Tips
@use 'base/variables' as var;

.tips {
  padding: 1.5rem;
  margin-top: 2rem;
  border: 1px solid rgba(102, 126, 234, 0.2);
  border-radius: var.$radius;
  background-color: var.$color-purple-thin;
  line-height: 1.6;

  .tips_title {
    color: var.$color-primary;
    font-size: var.$font-lg;
    font-weight: var.$font-bold;
  }

  .tips_message {
    margin-top: 0.5rem;
    padding-left: 0.5rem;
    color: var.$color-t-gray;
    font-size: 0.9rem;
  }
}
