@use 'simple_calendar';
@use 'header';
@use 'app_top';
@use 'my_page';
@use 'room_home';

body {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
}

img {
  width: 80px;
  height: 100%;
}

nav {
  ul {
    display: flex;
    gap: 20px;
  }
}
