.white_container.form_tab
  %nav
    %ul.form_tab_list
      %li.form_tab_item{class: "#{add_active_class_2('rooms', ['new', 'create'])}"}
        = link_to 'ルームを作成', new_room_path

      %li.form_tab_item{class: "#{add_active_class_2('memberships', ['new', 'create'])}"}
        = link_to 'ルームに参加', new_membership_path
